## Análisis de la información obtenida

### Importar dataset y convertirlo a DataFrame

In [35]:
import pandas as pd
crypto_df = pd.read_csv("./datasets/cryptodata.csv")

### Revisar a simple vista los primeros registros del conjunto de datos

In [36]:
crypto_df.head(5)

,acronym,circulating_supply,market_cap,market_cap_currency_exchange,name,price,price_currency_exchange,variance_percent,volume,volume_currency_exchange
0,BTC,19.82 M,1.93 T,USD,Bitcoin,97377.2800,USD,+0.63%,54.94 B,USD
1,ETH,120.53 M,321.92 B,USD,Ethereum,2670.8300,USD,−1.71%,28.25 B,USD
2,XRP,57.76 B,142.6 B,USD,XRP,2.4688,USD,+6.05%,9 B,USD
3,USDT,141.36 B,141.4 B,USD,Tether USDt,1.0003,USD,+0.01%,105.8 B,USD
4,SOL,487.72 M,96.33 B,USD,Solana,197.5200,USD,+3.07%,4.64 B,USD

### Reordear las columnas

In [37]:
crypto_df = crypto_df.reindex(['acronym', 'name', 'price', 'price_currency_exchange', 'variance_percent', 'market_cap', 'market_cap_currency_exchange', 'volume', 'volume_currency_exchange', 'circulating_supply'], axis=1)
crypto_df.head(5)

,acronym,name,price,price_currency_exchange,variance_percent,market_cap,market_cap_currency_exchange,volume,volume_currency_exchange,circulating_supply
0,BTC,Bitcoin,97377.2800,USD,+0.63%,1.93 T,USD,54.94 B,USD,19.82 M
1,ETH,Ethereum,2670.8300,USD,−1.71%,321.92 B,USD,28.25 B,USD,120.53 M
2,XRP,XRP,2.4688,USD,+6.05%,142.6 B,USD,9 B,USD,57.76 B
3,USDT,Tether USDt,1.0003,USD,+0.01%,141.4 B,USD,105.8 B,USD,141.36 B
4,SOL,Solana,197.5200,USD,+3.07%,96.33 B,USD,4.64 B,USD,487.72 M

### Mostrar las dimensiones del DataFrame

In [38]:
crypto_df.shape

(99, 10)

### Verificar el tipo de dato de cada columna

In [39]:
crypto_df.dtypes

acronym                          object
name                             object
price                           float64
price_currency_exchange          object
variance_percent                 object
market_cap                       object
market_cap_currency_exchange     object
volume                           object
volume_currency_exchange         object
circulating_supply               object
dtype: object

### Resumen detallado del contenido del DataFrame (Cantidad de valores no nulos en cada columna)

In [40]:
crypto_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   acronym                       99 non-null     object
 1   name                          99 non-null     object
 2   price                         99 non-null     float64
 3   price_currency_exchange       99 non-null     object
 4   variance_percent              99 non-null     object
 5   market_cap                    99 non-null     object
 6   market_cap_currency_exchange  99 non-null     object
 7   volume                        99 non-null     object
 8   volume_currency_exchange      99 non-null     object
 9   circulating_supply            99 non-null     object
dtypes: float64(1), object(9)
memory usage: 7.9+ KB

### Listar las columnas

In [41]:
crypto_df.columns

Index(['acronym', 'name', 'price', 'price_currency_exchange',
       'variance_percent', 'market_cap', 'market_cap_currency_exchange',
       'volume', 'volume_currency_exchange', 'circulating_supply'],
      dtype='object')

### Generar estadísticas descriptivas del DataFrame. 
#### Incluye información como promedios, desviaciones estándar (std), valores mínimos y máximos, entre otros.

In [42]:
crypto_df.describe().T

,count,mean,std,min,25%,50%,75%,max
price,99.0,1074.34381,9786.025939,8.656900e-07,0.360415,1.1722,10.2477,97377.28

### Para las variables categóricas

In [43]:
crypto_df.describe(include='O').T

                             count unique      top freq
acronym                         99     99      BTC    1
name                            99     99  Bitcoin    1
price_currency_exchange         99      1      USD   99
variance_percent                99     93   +3.79%    2
market_cap                      99     94   1.36 B    2
market_cap_currency_exchange    99      1      USD   99
volume                          99     99  54.94 B    1
volume_currency_exchange        99      1      USD   99
circulating_supply              99     97  19.82 M    2

### Determinar cuántos valores faltan en cada columna.

In [44]:
crypto_df.isna().sum()

acronym                         0
name                            0
price                           0
price_currency_exchange         0
variance_percent                0
market_cap                      0
market_cap_currency_exchange    0
volume                          0
volume_currency_exchange        0
circulating_supply              0
dtype: int64

### Promedio de valores faltantes

In [45]:
crypto_df.isna().mean()

acronym                         0.0
name                            0.0
price                           0.0
price_currency_exchange         0.0
variance_percent                0.0
market_cap                      0.0
market_cap_currency_exchange    0.0
volume                          0.0
volume_currency_exchange        0.0
circulating_supply              0.0
dtype: float64